<?xml version="1.0"?>
<launch>
  <param name="cerevoice_tts_node/startup_sentence" type="string" value="" />
  <rosparam param="voices" ns="cerevoice_tts_node" subst_value="true">
  - path: $(find cerevoice_sdk)/voices/cerevoice_alex_3.0.6_22k.voice
    license: $(find cerevoice_sdk)/voices/license.lic
    abbrev: $(find cerevoice_sdk)/example_data/abbrev_german.txt
  - path: $(find cerevoice_sdk)/voices/cerevoice_gudrun_3.0.6_22k.voice
    license: $(find cerevoice_sdk)/voices/license.lic
    abbrev: $(find cerevoice_sdk)/example_data/abbrev_german.txt
  - path: $(find cerevoice_sdk)/voices/cerevoice_heather_3.0.8_22k.voice
    license: $(find cerevoice_sdk)/voices/cereproc_license.lic
    lexicon: $(find cerevoice_sdk)/example_data/additional.lex
  </rosparam>
  <node name="cerevoice_tts_node" pkg="cerevoice_tts" type="cerevoice_tts_node" respawn="false" output="screen" />
</launch>
